# ============================================
# Car Booking System - Docker Environment
# ============================================

# Node environment
NODE_ENV=production

# Backend
BACKEND_PORT=5000
DB_URL=mongodb+srv://datxe:07072004Tra@datxe.1sij2hx.mongodb.net/datxe?retryWrites=true&w=majority
JWT_SECRET=a0d7f06558634a46cd8557835982e30b70ced58d1f9f936df4181366e77476658a75e17dff5a910726df32f9562602d94ccc33588a52578d08deafefcd49c388

# Frontend
FRONTEND_PORT=3000
FRONTEND_URL=http://localhost:3000
VITE_API_URL=http://localhost:5000/api
