@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
.h-600 {
  height: 600px;
}
.h-300 {
  height: 300px;
}

.h-400 {
  height: 400px;
}
.min-h-300 {
  min-height: 300px;
}
.min-h-400{
    min-height: 400px;
}
.max-h-500 {
  max-height: 500px;
}
.min-w-1000 {
  min-width: 1000px;
}
.min-w-600{
    min-width: 600px;
}
.min-w-140 {
  min-width: 140px;
}
.z-1002 {
  z-index: 1002;
}
.z-1000 {
  z-index: 1000;
}
.max-w-200 {
  max-width: 200px;
}

.min-w-70 {
  min-width: 70px;
}